<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header content -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-mid-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col">
                        <div class="col-mid-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/profile.png" alt="My-pic" class="img-fluid" title="My--pic">
                            </figure>
                        </div>
                    </div>
                    <!-- right side div -->
                    <div class="col">
                        <div class="col-mid-6 col-12 main_header_left">
                            <p>Welcome to My Weather WebApp</p>
                            <h1>I'm a <span class="text_color">Python Django Developer.</span> ML/AI Learner</h1>
                            <a href="" target="_blank"><button>About me</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>